---
services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - /home/jukka/nextcloud/config:/config
      - /home/jukka/data:/data
    ports:
      - 10443:443
    restart: unless-stopped
