services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    env_file:
      - ./.env
      - ./.env.local
    volumes:
      - /home/jukka/n8n/n8n_data:/home/node/.n8n
      - ./local-files:/files
volumes:
  n8n_data:
